<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>
<form method="get" action="/restaurants">
    <button type="submit">List</button>
</form>
